.user-block{
  margin: 10px;
  background: aliceblue;
  padding: 5px;
  border-radius: 5px;

  .user-id{
    margin-right: 5px;
  }

  .delete-btn{
    background: tomato;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
  }

  .update-btn{
    background: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
  }
}
